@import "styles/constants.scss";

.wrapper {
  max-width: 80%;
  margin: 0 auto 0;
  @include respond-below(lg) {
    max-width: 100%;
    padding-bottom: 6rem;
  }
  @include respond-below(md) {
    padding-bottom: 0;
  }
  @include respond-below(sm) {
    margin: 0 auto 0;
  }
}
