@import "styles/constants.scss";

.wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}

.header {
  @include respond-below(md) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    min-height: 7rem;
    background-image: linear-gradient(to bottom, $cFadeFrom 0%, $cFadeTo 50%);
  }
  @include use-padding;
}

.menu-wrapper {
  @include respond-below(md) {
    background: $cFadeTo;
    overflow: hidden;
    transition: max-height 0.6s cubic-bezier(0.45, 0, 0.1, 1);
    will-change: max-height;
    &.open {
      max-height: 200px;
    }
    &.closed {
      max-height: 0;
    }

    > div {
      padding: 0 3rem 3rem;
    }
  }

  @include respond-below(sm) {
    > div {
      padding: 0 2rem 2rem;
    }
  }
}
